# Laravel
/vendor
/node_modules

# Laravel environment files
.env
.env.*.backup
.env.backup

# Laravel compiled files
/bootstrap/cache/*
!bootstrap/cache/.gitignore
/public/build/


# IDEs and editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS and system files
.DS_Store
Thumbs.db

# Composer artifacts
/vendor

# NPM/Yarn logs and build artifacts
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-lock.yaml


# PHPUnit
.phpunit.result.cache
tests/*.log

#SQLITE
/database/*.sqlite
!database/.gitkeep


# Ignore everything in storage except .gitignore and necessary folders
/storage/*
!/storage/.gitignore
!/storage/app
/storage/app/*
!/storage/app/.gitignore
!/storage/framework
/storage/framework/*
!/storage/framework/.gitignore
!/storage/framework/cache
!/storage/framework/sessions
!/storage/framework/testing
!/storage/framework/views
/storage/framework/views/*
!/storage/framework/views/.gitignore
!/storage/logs
/storage/logs/*
!/storage/logs/.gitignore


