@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'iransans-regular';
    src: url(../fonts/woff2/IRANSansX-Regular.woff2) format('woff2');
  }
@font-face {
    font-family: 'iransans-black';
    src: url(../fonts/woff2/IRANSansX-Black.woff2) format('woff2');
}
@font-face {
    font-family: 'iransans-bold';
    src: url(../fonts/woff2/IRANSansX-Bold.woff2) format('woff2');
}
@font-face {
    font-family: 'iransans-extrabold';
    src: url(../fonts/woff2/IRANSansX-ExtraBold.woff2) format('woff2');
}
@font-face {
    font-family: 'iransans-thin';
    src: url(../fonts/woff2/IRANSansX-Thin.woff2) format('woff2');
}
@font-face {
    font-family: 'iransans-ultralight';
    src: url(../fonts/woff2/IRANSansX-UltraLight.woff2) format('woff2');
}

@font-face {
    font-family: 'dastnevis';
    src: url(../fonts/otf/dastnevis.otf);
}

.farsi-number {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


.gradient-text {
    @apply text-transparent bg-gradient-to-r from-lime-950 via-lime-600 to-lime-900  bg-clip-text
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance: textfield;
}
